/AndroidApp/bin/
/AndroidApp/project.properties
/AndroidApp/gen/
/LyncAgentServer/LyncAgentServer/bin
/LyncAgentServer/LyncAgentServer/obj
/LyncAgentServer/LyncClientAgent/bin                                                                                                                
/LyncAgentServer/LyncClientAgent/obj 
/RaspberryQtApp/build-zcamp14-schild-qt-*
/RaspberryQtApp/zcamp14-schild-qt/zcamp14-schild-qt.pro.user.*
