/AndroidApp/bin/
/AndroidApp/project.properties
/AndroidApp/gen/
/LyncAgentServer/LyncAgentServer/bin
/LyncAgentServer/LyncAgentServer/obj
/RaspberryQtApp/build-zcamp14-schild-qt-*
/LyncAgentServer/LyncClientAgent/bin
/LyncAgentServer/LyncClientAgent/obj
